block variables
    include ../configurations/utils/variables

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Facebook
        meta(property="og:image" content=`${pathImages}hugo&yuli${format}`)
        meta(property="og:description" content="Página dedicada a los 5 años de noviazgo con mi hermosa novia Yuli.")
        meta(property="og:title" content="Feliz Aniversario")
        // Fuente Google
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Handlee&family=Sansita+Swashed:wght@500;900&display=swap" rel="stylesheet")
        // FontaWesome
        script(src="https://kit.fontawesome.com/b73ad790aa.js" crossorigin="anonymous")
        // Normalize
        append variables
        - nameStyle = 'normalize.css'
        link(rel="stylesheet" type="text/css" href=`${linkReset}${nameStyle}`)
        // Estilos Propios
        append variables
        - nameStyle = 'main.css'
        link(rel="stylesheet" type="text/css" href=`${linkStyle}${nameStyle}`)
        |
        |
        title= `${pagesTitle} - ${title}`
        meta(name="author" content="Hugo Pineda")
    body
        header#header
            include ../configurations/layout/nav
            block header_content
        main
            block main_content
        footer#footer
            block footer_content
    
        // Links JavaScript
        script(src=`${pathLinkJs}nav.js`)
        script(src=`${pathLinkJs}watch.js`)
        script(src=`${pathLinkJs}simplyCountdown.min.js`)
        script(src=`${pathLinkJs}timeelapsed.js`)
        script(src=`${pathLinkJs}go_up.js`)