block variables
    include ../configurations/utils/variables

doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Fuente Google
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Handlee&family=Sansita+Swashed:wght@500;900&display=swap" rel="stylesheet")
        // FontaWesome
        script(src="https://kit.fontawesome.com/b73ad790aa.js" crossorigin="anonymous")
        // Normalize
        append variables
        - nameStyle = 'normalize.css'
        link(rel="stylesheet" type="text/css" href=`${linkReset}${nameStyle}`)
        // Estilos Propios
        - nameStyle = 'style.css'
        link(rel="stylesheet" type="text/css" href=`${linkStyle}${nameStyle}`)
        |
        |
        title= `${pagesTitle} - ${title}`
        meta(name="author" content="Hugo Pineda")
    body
        header
            include ../configurations/layout/pages/menu
            block header_content
        

        // Links JavaScript
        script(src=`${pathLinkJs}nav.js`)