extends templates/templetes
append variables
    - title = 'Hugo & Yuli'
    - pagesTitle = 'Galería' 

block header_content
    section
        .corners
            h2.letter__title Galería de Nuestro Amor
                .corners
                    section.grid__gallery
                        img(src=`${pathImagesGaleria}001${format}` alt="Primera Foto Editada").grid__img
                        img(src=`${pathImagesGaleria}002${format}` alt="Metro C.U.").grid__img
                        img(src=`${pathImagesGaleria}003${format}` alt="Metro C.U.").grid__img
                        img(src=`${pathImagesGaleria}004${format}` alt="Metro C.U.").grid__img
                        img(src=`${pathImagesGaleria}005${format}` alt="Primera Cita").grid__img
                        img(src=`${pathImagesGaleria}006${format}` alt="Primera Cita").grid__img
                        img(src=`${pathImagesGaleria}007${format}` alt="Primera Cita").grid__img
                        img(src=`${pathImagesGaleria}008${format}` alt="Museo de Geología").grid__img
                        img(src=`${pathImagesGaleria}009${format}` alt="Paseo en Transporte").grid__img
                        img(src=`${pathImagesGaleria}010${format}` alt="Cuando te Conocí").grid__img
                        img(src=`${pathImagesGaleria}011${format}` alt="Museo Memoria y Tolerancia").grid__img
                        img(src=`${pathImagesGaleria}012${format}` alt="Museo Memoria y Tolerancia").grid__img
                        img(src=`${pathImagesGaleria}013${format}` alt="Zócalo").grid__img
                        img(src=`${pathImagesGaleria}014${format}` alt="Museo de la Luz").grid__img
                        img(src=`${pathImagesGaleria}015${format}` alt="Metro C.U.").grid__img
                        img(src=`${pathImagesGaleria}016${format}` alt="Paseo en Transporte").grid__img
                        img(src=`${pathImagesGaleria}017${format}` alt="Paseo en Transporte").grid__img
                        img(src=`${pathImagesGaleria}018${format}` alt="Zoológico de los Coyotes").grid__img
                        img(src=`${pathImagesGaleria}019${format}` alt="Zoológico de los Coyotes").grid__img
                        img(src=`${pathImagesGaleria}020${format}` alt="Zoológico de los Coyotes").grid__img
                        img(src=`${pathImagesGaleria}021${format}` alt="Barrio Chino").grid__img
                        img(src=`${pathImagesGaleria}022${format}` alt="Barrio Chino").grid__img
                        img(src=`${pathImagesGaleria}023${format}` alt="").grid__img
                        img(src=`${pathImagesGaleria}024${format}` alt="").grid__img
                        img(src=`${pathImagesGaleria}025${format}` alt="Llegando a Casa").grid__img
                        img(src=`${pathImagesGaleria}026${format}` alt="Llegando a Casa").grid__img
                        img(src=`${pathImagesGaleria}027${format}` alt="Llegando a Casa").grid__img
                        img(src=`${pathImagesGaleria}028${format}` alt="Llegando a Casa").grid__img
                        img(src=`${pathImagesGaleria}029${format}` alt="Llegando a Casa").grid__img
                        img(src=`${pathImagesGaleria}030${format}` alt="Llegando a Casa").grid__img
                        img(src=`${pathImagesGaleria}031${format}` alt="En Casa").grid__img
                        img(src=`${pathImagesGaleria}032${format}` alt="En Casa").grid__img
                        img(src=`${pathImagesGaleria}033${format}` alt="Ixtapan de la Sal").grid__img
                        img(src=`${pathImagesGaleria}034${format}` alt="Bosque de Aragón").grid__img
                        img(src=`${pathImagesGaleria}035${format}` alt="Bosque de Aragón").grid__img
                        img(src=`${pathImagesGaleria}036${format}` alt="Boda en Toluca").grid__img
                        img(src=`${pathImagesGaleria}037${format}` alt="Boda en Toluca").grid__img
                        img(src=`${pathImagesGaleria}038${format}` alt="Parque Delta").grid__img
                        img(src=`${pathImagesGaleria}039${format}` alt="Parque Delta").grid__img
                        img(src=`${pathImagesGaleria}040${format}` alt="Parque Delta").grid__img
                        img(src=`${pathImagesGaleria}041${format}` alt="1° Salida del 2021").grid__img
                        img(src=`${pathImagesGaleria}042${format}` alt="1° Salida del 2021").grid__img
                        img(src=`${pathImagesGaleria}043${format}` alt="1° Salida del 2021").grid__img
                        img(src=`${pathImagesGaleria}044${format}` alt="Festejando su Cumple").grid__img
                        img(src=`${pathImagesGaleria}045${format}` alt="Festejando su Cumple").grid__img
                        img(src=`${pathImagesGaleria}046${format}` alt="Día del Amor y la Amistad").grid__img
                        img(src=`${pathImagesGaleria}047${format}` alt="Día del Amor y la Amistad").grid__img
                        img(src=`${pathImagesGaleria}048${format}` alt="Día del Amor y la Amistad").grid__img
                        .grid__content
                            img(src=`${pathImages}hugo&yuli.jpg` alt="").grid__img-show
                            <i class="fas fa-times-circle"></i>
                            p.grid__copy

    script(src=`${pathLinkJs}ligthbox.js`)
