mixin multimedia
    // Inicio Multimedios
    section#multimedia
        .corners
            .multimedia
                .multimedia__content
                    .multimedia__box
                        .multimedia__imgBx
                            append variables
                            - nameImages = 'gall.jpg'
                            - nameMulti = 'Galería'
                            img(src=`${pathImages}${nameImages}` alt=`${nameImages}` title=`${nameImages}`).multimedia__img
                        .multimedia__contentBx
                            p.multimedia__pg=`${nameMulti}`
                                br
                                a(href=`${pathLinkPages}${galeria}`).multimedia__link: <i class="fas fa-chevron-circle-down"></i>
                    .multimedia__box
                        .multimedia__imgBx
                            append variables
                            - nameImages = 'carta.jpg'
                            - nameMulti = 'Cartas'
                            img(src=`${pathImages}${nameImages}` alt=`${nameImages}` title=`${nameImages}`).multimedia__img
                        .multimedia__contentBx
                            p.multimedia__pg=`${nameMulti}`
                                br
                                a(href=`${pathLinkPages}${carta}`).multimedia__link: <i class="fas fa-chevron-circle-down"></i>
                    .multimedia__box
                        .multimedia__imgBx
                            append variables
                            - nameImages = 'anecd.jpg'
                            - nameMulti = 'Anecdotario'
                            img(src=`${pathImages}${nameImages}` alt=`${nameImages}` title=`${nameImages}`).multimedia__img
                        .multimedia__contentBx
                            p.multimedia__pg=`${nameMulti}`
                                br
                                a(href=`${pathLinkPages}${anecdota}`).multimedia__link: <i class="fas fa-chevron-circle-down"></i>


mixin scbar
    // Inicio de Barra
    section.scrollbar
        append variables
        - nameImages = 'corazones.svg'
        p.scrollbar__pg
            img(src=`${pathImages}${nameImages}`).scrollbar__img
            =`${scbarTitle}`
            img(src=`${pathImages}${nameImages}`).scrollbar__img