.bar
    .bar__logo#bar__log
        append variables
        - nameImages = 'hugo&yuli.jpg'
        a(href=`${pathLinkPages}index.html`).bar__logo-link: img(src=`${pathImages}${nameImages}` alt=`${nameImages}` title=`${nameImages}`).bar__img
    .bar__icon#bar__icon
    nav.bar__nav#bar__nav
        ul.bar__menu
            li.bar__list: a(href=`${index}#time`).bar__link Próximamente
            li.bar__list: a(href=`${index}#love`).bar__link Mi Amor
            li.bar__list
                a(href=`${index}#multimedia`).bar__link Multimedia
                ul.bar__submenu
                    li.bar__list: a(href=`${pathLinkPages}${carta}`).bar__link.bar--links Cartas
                    li.bar__list: a(href=`${pathLinkPages}${galeria}`).bar__link.bar--links Galería
                    li.bar__list: a(href=`${pathLinkPages}${anecdota}`).bar__link.bar--links Anecdotario
            li.bar__list: a(href=`${index}#sky`).bar__link Cielo
            li.bar__list: a(href=`${index}#videos`).bar__link Canciones
            li.bar__list: a(href=`${index}#footer`).bar__link Novios