.bar
    .bar__logo
        append variables
        - nameImages = 'hugo&yuli.jpg'
        a(href=`${pathLinkPages}index.html`).bar__logo-link: img(src=`${pathImages}${nameImages}` alt=`${nameImages}` title=`${nameImages}`).bar__img
    .bar__icon#bar__icon
    nav.bar__nav#bar__nav
        ul.bar__menu
            li.bar__list: a(href="#time").bar__link Próximamente
            li.bar__list: a(href="#love").bar__link Mi Amor
            li.bar__list
                a(href="#multimedia").bar__link Multimedia
                ul.bar__submenu
                    li.bar__list: a(href=`${pathLinkPages}${carta}`).bar__link.bar--links Cartas
                    li.bar__list: a(href=`${pathLinkPages}${galeria}`).bar__link.bar--links Galería
                    li.bar__list: a(href=`${pathLinkPages}${anecdota}`).bar__link.bar--links Anecdotario
            li.bar__list: a(href="#sky").bar__link Cielo
            li.bar__list: a(href="#videos").bar__link Canciones
            li.bar__list: a(href="#footer").bar__link Novios